@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);

html,
body {
  height: 100%;
}

body {

  padding: 2% 5% 5% 5%;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", "Helvetica";

  /*display: flex;
  /*justify-content: center;
  align-items: center;*/
}


ul {
  list-style: none;
}


table,
thead {
  width: 100%;
}
